//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose :
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

$console: new-console()                                             !default;

//****************************************************************************

.console
{
  @include                        apply($console);
  -fx-padding:                    2;
  -fx-cursor:                     default;
}

.console:focused
{
  -fx-background-color:           -sys-text-highlight-color;
}

.console .content
{
  -fx-padding:                    em(3);
  -fx-background-color:           get-value($console,-fx-background-color);
}

.console > .scroll-pane
{
  -fx-padding:                    0em;
  -fx-vbar-policy:                always;
}

//****************************************************************************
