//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose :
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

$console-font:                    12 sans-serif                     !default;
$console-text-color:              white                             !default;
$console-back-color:              black                             !default;
$console-text-highlight-color:    black                             !default;
$console-back-highlight-color:    rgb(190,221,255)                  !default;

//****************************************************************************

.console
{
  -fx-padding:                    2;
  -fx-cursor:                     default;
  -fx-font:                       $console-font;
  -fx-text-fill:                  $console-text-color;
  -fx-background-color:           $console-back-color;
  -fx-highlight-text-fill:        $console-text-highlight-color;
  -fx-highlight-fill:             $console-back-highlight-color;
}

.console:focused
{
  -fx-background-color:           -fx-focus-color;
}

.console .content
{
  -fx-padding:                    em(3);
  -fx-background-color:           $console-back-color;
}

.console > .scroll-pane
{
  -fx-padding:                    0em;
  -fx-vbar-policy:                always;
}

//****************************************************************************
