//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose : Defines constructor functiosn for the various style objects.
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

@function new-font($family: null,$size: null,$weight: null,$style: null)
{
  @return (-fx-font-family: $family,
           -fx-font-size:   $size,
           -fx-font-weight: $weight,
           -fx-font-style:  $style);
}

@function new-background($color: null,$insets: null,$radius: null)
{
  @return (-fx-background-color:  $color,
           -fx-background-insets: $insets,
           -fx-background-radius: $radius);
}

@function new-background-image($image: null,$position: null,$repeat: null,$size: null)
{
  @return (-fx-background-image:    $image,
           -fx-background-position: $position,
           -fx-background-repeat:   $repeat,
           -fx-background-size:     $size);
}

@function new-border($color: null,$insets: null,$radius: null,$style: null,$width: null)
{
  @return (-fx-border-color:  $color,
           -fx-border-insets: $insets,
           -fx-border-radius: $radius,
           -fx-border-style:  $style,
           -fx-border-width:  $width);
}

@function new-border-image($source: null,$insets: null,$repeat: null,$slice: null,$width: null)
{
  @return (-fx-border-image-source: $source,
           -fx-border-image-insets: $insets,
           -fx-border-image-repeat: $repeat,
           -fx-border-image-slice:  $slice,
           -fx-border-image-width:  $width);
}

@function new-shape($shape: null,$scale: null,$position: null)
{
  @return (-fx-shape:          $shape,
           -fx-scale-shape:    $scale,
           -fx-position-shape: $position);
}

@function new-width($pref: null,$min: null,$max: null)
{
  @return (-fx-min-width:  $min,
           -fx-max-width:  $max,
           -fx-pref-width: $pref);
}

@function new-height($pref: null,$min: null,$max: null)
{
  @return (-fx-min-height:  $min,
           -fx-max-height:  $max,
           -fx-pref-height: $pref);
}

//****************************************************************************

@function new-tooltip(
  $font:                          new-font(sans-serif,12),
  $foreground:                    black,
  $background:                    new_background(lightgray),
  $padding:                       em(3) em(6),
  $effect:                        dropshadow(three-pass-box,rgba(black,0.5),10,0,0,3))
{@return merge-fields(
  $font,
  $background,
  (-fx-text-fill:                 $foreground),
  (-fx-padding:                   $padding),
  (-fx-effect:                    $effect));
}

@function new-console(
  $font:                          new-font(monospace,12),
  $foreground:                    white,
  $background:                    black,
  $selection:                     -sys-text-highlight-color,
  $selected-text:                 -sys-text-highlight-text-color)
{@return merge-fields(
  $font,      
  (-fx-text-fill:                 $foreground),
  (-fx-background-color:          $background),
  (-fx-highlight-fill:            $selection),
  (-fx-highlight-text-fill:       $selected-text));
}

//****************************************************************************
