//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose :
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

$console-font:                    12 Monaco;
$console-text-color:              white;
$console-back-color:              black;
$console-text-highlight-color:    black;
$console-back-highlight-color:    rgb(190,221,255);

$scroll-bar-track-color:          gray( 56);
$scroll-bar-thumb-color:          gray(116);

//****************************************************************************

@import "application";

//****************************************************************************
