//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose : Menu related stylings.
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

$menu-back-color:                 gray( 26)                         !default;
$menu-border-color:               gray(141)                         !default;
$menu-separator-color:            gray( 43)                         !default;
$menu-text-color:                 white                             !default;
$menu-check-color:                $menu-text-color                  !default;
$menu-arrow-color:                $menu-text-color                  !default;
$menu-highlight-color:            rgb(33,76,120)                    !default;
$menu-check-shape:                "M0,5 H2 L4,8 L8,0 H10 L5,10 H3 Z"!default;
$menu-arrow-u-shape:              "M0,7 L10,7 L5,0 Z"               !default;
$menu-arrow-d-shape:              "M0,0 L10,0 L5,7 Z"               !default;
$menu-arrow-r-shape:              "M0,0 L6,4  L0,8 Z"               !default;

//****************************************************************************

.context-menu
{
  -fx-font-size:                  em(11);
  -fx-padding:                    4px 1px;
  -fx-background-color:           $menu-border-color,black,$menu-back-color;
  -fx-background-insets:          0px, 1px, 2px;
  -fx-background-radius:          5px, 4px, 3px;
}

.context-menu .separator:horizontal .line
{
  -fx-border-color:               $menu-separator-color transparent transparent transparent;
  -fx-border-insets:              5px 0px;
}

//****************************************************************************

.menu-up-arrow,
.menu-down-arrow
{
  -fx-padding:                    em(6);
  -fx-scale-shape:                false;
  -fx-background-color:           $menu-arrow-color;
}

.menu-down-arrow
{
  -fx-shape:                      $menu-arrow-u-shape;
}

.menu-down-arrow
{
  -fx-shape:                      $menu-arrow-d-shape;
}

//****************************************************************************

.menu-item:focused
{
  -fx-background-color:           $menu-highlight-color;
}

.menu-item > .label
{
  -fx-padding:                    em(0) em(12) em(0) em(0);
  -fx-text-fill:                  $menu-text-color;
}

.menu-item > .left-container,
.menu-item > .right-container
{
  -fx-padding:                    em(8) em(12);
}

.menu-item:checked > .left-container
{
  -fx-scale-shape:                false;
  -fx-background-color:           $menu-check-color;
  -fx-shape:                      $menu-check-shape;
}

.menu-item > .right-container > .arrow
{
  -fx-scale-shape:                false;
  -fx-background-color:           $menu-check-color;
  -fx-shape:                      $menu-arrow-r-shape;
}

//****************************************************************************
