//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose :
//*
//*
//*  Comments: This file uses a tab size of 2 spaces.
//*                                                                     0-0
//*                                                                   (| v |)
//**********************************************************************w*w***

$menu-item-text-color:            white                           !default;
$menu-item-mark-color:            white                           !default;
$menu-item-highlight-color:       rgb(33,76,120)                  !default;
$menu-item-check-shape:           "M0,5H2L4,8L8,0H10L5,10H3Z"     !default;

//****************************************************************************

.menu-item
{
//-fx-background-color:           transparent;
  -fx-padding:                    em(1) em(5) em(1) 1em;
}

.menu-item > .left-container
{
  -fx-padding:                    em(5.5) em(9.5) em(5.5) em(5.5);
}

.menu-item > .right-container
{
  -fx-padding:                    em(0) em(0) em(0) em(6);
}

.menu-item > .label
{
  -fx-padding:                    em(0) em(6) em(0) em(0);
  -fx-text-fill:                  $menu-item-text-color;
}

.menu-item > .graphic-container
{
  -fx-padding:                    em(0) em(4) em(0) em(0);
}

.menu-item:focused
{
  -fx-background-color:           $menu-item-highlight-color;
}

.check-menu-item:checked > .left-container > .check,
.radio-menu-item:checked > .left-container > .radio
{
  -fx-shape:                      $menu-item-check-shape;
  -fx-scale-shape:                false;
  -fx-background-color:           $menu-item-mark-color;
}

//****************************************************************************
